.home-page-container {
    text-align: center;
    background-color: $light-yellow;
    padding-bottom: 5rem;

    .home-title {
        font-size: 5.5rem;
        color: $purple;
        margin: 4.5rem 0 0;
    }
}
