.navigation-container {
    display: flex;
    gap: 3rem;

    .nav-link-wrapper {

        a {
            font-size: 3rem;
            text-decoration: none;
            color: $dark-grey;

            &:hover{
                border-bottom: .2rem solid $dark-grey;
            }
        }
        .active-link {
            border-bottom: .2rem solid $dark-grey;
        }
    }
}
