$light-red: rgb(255, 179, 238);
$red: rgb(255, 91, 219);
$dark-red: rgb(255, 0, 200);


$light-orange: rgb(255, 202, 148);
$orange: rgb(255, 172, 89);
$dark-orange: rgb(255, 143, 68);


$light-yellow: rgb(255, 255, 190);
$yellow: rgb(255, 255, 118);
$dark-yellow: rgb(255, 255, 0);


$light-green: rgb(175, 255, 231);
$green: rgb(0, 255, 213);
$dark-green: rgb(0, 255, 128);


$light-cyan: rgb(177, 255, 255);
$cyan: rgb(0, 255, 255);
$dark-cyan: rgb(0, 171, 194);


$light-blue: rgb(96, 96, 255);
$blue: rgb(0, 0, 255);
$dark-blue: rgb(0, 0, 155);


$light-purple: rgb(205, 154, 255);
$purple: rgb(130, 85, 255);
$dark-purple: rgb(128, 0, 255);


$light-grey: rgb(191, 191, 191);
$grey: rgb(127, 127, 127);
$dark-grey: rgb(64, 69, 74);
$cream: rgb(255, 255, 220);
